<h1>My Account</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">YOUR NAME HERE</h4>
        <h6 class="card-subtitle mb-2 text-muted">EMAIL HERE</h6>
        <p class="card-text">ADDRESS HERE, PHONE NUMBER HERE</p> 
        <a href="https://localhost:7127/Home/Carts" class="card-link">Cart</a>
        <a href="https://localhost:7127/Home" class="card-link">LOG OUT</a>
    </div>
</div>