
<h1>Browse Through our wide Selection</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header fixed-height-header">Fantastic Mr. Fox</h3>
                <div class="card-body">
                    <h5 class="card-title">Roald Dahl</h5>
                    <p class="card-text">Price: R185.00</p>
                </div>

                <img src="https://images-na.ssl-images-amazon.com/images/I/51mP2DpHkML.jpg" class="card-img-top" alt="Book Image">

                <div class="card-body">
                    <p class="card-text">Our protaginist Mr. Fox must steal crops from farmers to help his family, but the farmers(our antagonist)are not very happy with that.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Childrens Novel</li>
                    <li class="list-group-item">Fiction</li>
                    <li class="list-group-item">Year of Publish: 1970</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Add to Cart</a>
                    
                </div>
                <div class="card-footer text-muted">
                    6 left in stock
                </div>
            </div>
        </div>
  
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header fixed-height-header">Dragonball Super Manga</h3>
            <div class="card-body">
                <h5 class="card-title">Akira Toriyama</h5>
                <p class="card-text">Price: R150.00</p>
            </div>

            <img src="https://sportshub.cbsistatic.com/i/2022/08/31/bfbbed1c-1946-435a-8068-0918cfffbec4/fadvrojx0aeauwx.jpg?auto=webp&width=657&height=944&crop=0.696:1,smart" class="card-img-top" alt="Book Image">

            <div class="card-body">
                <p class="card-text">Our protaginist Son Goku is on a journey to become the strongest and his adventures take you from sandy beaches to the outer reaches of Space Time.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Manga</li>
                <li class="list-group-item">Adventure, Martial Art's</li>
                <li class="list-group-item">Year of Publish: 2023</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Add to Cart</a>

            </div>
            <div class="card-footer text-muted">
                4 left in stock
            </div>
        </div>
    </div>


        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header fixed-height-header">Star Wars Darth Vader</h3>
                <div class="card-body">
                    <h5 class="card-title">Pak</h5>
                    <p class="card-text">Price: R259.00</p>
                </div>

                <img src="https://www.comicbookrevolution.com/ezoimgfmt/i0.wp.com/www.comicbookrevolution.com/wp-content/uploads/2022/12/Star-Wars-Darth-Vader-29.jpg?resize=666%2C1024&ssl=1&ezimgfmt=ng:webp/ngcb2" class="card-img-top" alt="Book Image">

                <div class="card-body">
                    <p class="card-text">I Am What You Made ME.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Comic</li>
                    <li class="list-group-item">Fiction</li>
                    <li class="list-group-item">Year of Publish: 2022</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Add to Cart</a>

                </div>
                <div class="card-footer text-muted">
                    1 left in stock
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header fixed-height-header">Strength Training Anatomy</h3>
                <div class="card-body">
                    <h5 class="card-title">Frédéric Delavier</h5>
                    <p class="card-text">Price: R259.00</p>
                </div>

                <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1403172329i/45838.jpg" class="card-img-top" alt="Book Image">

                <div class="card-body">
                    <p class="card-text">Discover for yourself the magic of Strength Training Anatomy, one of the best-selling strength training books ever published!</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Guide_Book</li>
                    <li class="list-group-item">Training</li>
                    <li class="list-group-item">Year of Publish: 1998</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Add to Cart</a>

                </div>
                <div class="card-footer text-muted">
                    73 left in stock
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header fixed-height-header">Dr Stone V.15</h3>
                <div class="card-body">
                    <h5 class="card-title">Riichiro Inagaki</h5>
                    <p class="card-text">Price: R219.99</p>
                </div>

                <img src="https://i1.whakoom.com/large/1b/2b/e85feb64e1874baa8732aa01e4d5e9df.jpg?_gl=1*175vqqm*_ga*NjQ2OTYzMjYzLjE3MDkyNDY0NTc.*_ga_7TE1PVSLNM*MTcwOTI0NjQ1Ny4xLjAuMTcwOTI0NjQ1Ny42MC4wLjA." class="card-img-top" alt="Book Image">

                <div class="card-body">
                    <p class="card-text">While the Kingdom of Science is busy reviving people, Senku's task force is putting together a plan to nab the petrification device.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Manga</li>
                    <li class="list-group-item">Science</li>
                    <li class="list-group-item">Year of Publish: 2021</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Add to Cart</a>

                </div>
                <div class="card-footer text-muted">
                    12 left in stock
                </div>
            </div>
        </div>


        <div class="col-md-4">
        <div class="card mb-3">
                <h3 class="card-header fixed-height-header">Don Quixote</h3>
            <div class="card-body">
                <h5 class="card-title">Miguel de Cervantes</h5>
                <p class="card-text">Price: R850.00</p>
            </div>

                <img src="https://cdn.britannica.com/12/154812-050-F5E63A51/Don-Quixote-Sancho-Panza-illustration-Miguel-de.jpg" class="card-img-top" alt="Book Image>

            <div class="card-body">
                <p class="card-text">Tells the story of a man who takes the name “Don Quixote de la Mancha” and sets off in a fit of obsession over romantic novels about chivalry to revive the custom and become a hero himself.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Literary</li>
                <li class="list-group-item">Action</li>
                <li class="list-group-item">Year Of Publish: 1800s</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Add to Cart</a>

            </div>
            <div class="card-footer text-muted">
                3 left in stock
            </div>
        </div>
    </div>
    </div>
</div>